ipch
*.sdf
*.ipch

Ramayana/audio
Ramayana/build
Ramayana/cursor
Ramayana/distributable
Ramayana/log
Ramayana/map
Ramayana/save
Ramayana/special
Ramayana/special_src
Ramayana/ui
Ramayana/unit
Ramayana/unit_src
Ramayana/video

.DS_Store
.DS_Store?

Ramayana/lib
!Ramayana/lib/**/*.lib